@import url(./global.css);

.plate-button {
  border: none;
  background-color: transparent;
}

.plate-button:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.vehicle-info {
  margin: auto;
}

.add-input {
  text-align: center;
}